@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
nav {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.5);
}
nav .container-fluid {
  padding: 0rem 3rem;
}
nav .container-fluid .navbar-brand {
  border-radius: 10px;
  padding: 0.5rem 1rem;
  font-family: "Anton";
  font-size: 2.5rem;
  color: black;
}
nav .container-fluid .navbar-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding-left: 1rem;
}
nav .container-fluid .navbar-nav .link {
  font-size: 1.5rem;
  font-weight: bold;
}
nav .container-fluid .navbar-nav .link p {
  margin: 0;
}
nav .container-fluid .navbar-nav .link .item-2 {
  display: none;
}

.register-login-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  border-radius: 8px;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
  width: 30%;
  max-height: 486px;
  padding: 1rem;
  text-align: center;
}

.note-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.note-form-container form {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
  display: flex;
  width: 30%;
  padding: 3rem;
}
.note-form-container form h1 {
  text-align: center;
  color: rgb(0, 0, 0);
  font-weight: bold;
}
.note-form-container form .input-fields {
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.note-form-container form .input-fields button {
  width: -moz-fit-content;
  width: fit-content;
  background-color: rgba(0, 0, 0, 0.514);
}
.note-form-container form .input-fields button:hover {
  background-color: rgba(0, 0, 0, 0.813);
}

.title {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  border-radius: 8px;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
  width: 30%;
  max-height: 486px;
  padding: 1rem;
  text-align: center;
}

.all-notes-container {
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem;
  display: flex;
  width: 100%;
  padding: 3rem;
}
.all-notes-container .note-card {
  border-radius: 8px;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
  width: 30%;
  max-height: 486px;
  padding: 1rem;
}
.all-notes-container .note-card h1 {
  color: rgb(0, 0, 0);
  font-weight: bold;
}
.all-notes-container .note-card p {
  color: rgb(0, 0, 0);
  font-weight: 600;
}

body {
  background-image: url(https://images.pexels.com/photos/688660/pexels-photo-688660.jpeg?cs=srgb&dl=pexels-simon-berger-688660.jpg&fm=jpg);
  background-size: cover;
}